@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
}
header{
    position: sticky;
    top: 0px;
    height: fit-content;
    background-color: #c11515;
    box-sizing: border-box;
}
.sticky__nav{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 0 20px 0;
    transition: opacity 0.3s ease-in-out;
}
.link_nav{
    color: white;
    text-decoration: none;
}
footer{
    margin-top: 30px;
    height: 220px;
    text-align: center;
    background-image: url(images/background.png);
}
.footer__header{
    padding-top: 60px;
}
.footer__text{
    margin-top: 20px;
}
.footer__button{
    display:inline-block;
    margin-top: 20px;
    padding: 15px 40px 15px 40px;
    font-size: 20px;
    color: #000;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: all 3s;
    z-index: 1;
}
.block{
    width: 100%;
    height: fit-content;
    padding: 20px;
    line-height: 24px;
    box-sizing: border-box;
    transition: opacity 0.7s ease-in-out;
}
.main__content{
    overflow: hidden;
}
.main__slogan{
    width: 40%;
    box-sizing: border-box;
}
.main__image-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__info{
    float: right;
    justify-content: center;
    width: 50%;
}
.main__about-game{
    clear: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__image{
    height: 500px;
}
.main__about-image{
    width: 100%;
}
.about__hd{
    margin-right: 3%;
    transition: opacity 0.5s ease-in-out;
}
.about__dlc{
    margin-top: 2%;
    transition: opacity 1.5s ease-in-out;
}
.about{
    width: 37%;
    text-align: center;
}
.about__weapon{
    text-align: left;
    margin: 20px auto 20px auto;
    width: 45%;
}
.weapon_span{
    font-weight: bold;
}
.weapon__text{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}
.weapon__list{
    margin-top: 10px;
    position: relative;
    transition: opacity 0.4s ease-in-out;
}